
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>HESAP MAKİNESİ</h2>
<br />
<form class="form-group" method="post">
    <div>
        <table class="table table-bordered">

            <tr><th>Sayı 1:</th><th> <input type="text" name="sayi1" id="sayi1" /></th></tr>
            <tr><th>Sayı 2:</th><th> <input type="text" name="sayi2" id="sayi2" /> </th></tr>
            <tr><th></th><th><button class="btn btn-warning"> hesapla</button></th></tr>
        </table>
    
          <div  style="margin-top:10px" >

              <table  class="table table-bordered">
                  <tr>
                      <th>    </th>
                      <th>TOPLAM</th>
                      <th>ÇIKARMA</th>
                      <th>BÖLME</th>
                      <th>ÇARPMA</th>
                  </tr>
                  <tr>
                      
                      <th>SAYI1:@ViewBag.sayi1</th>
                      <th rowspan="2">@ViewBag.tpl</th>
                      <th rowspan="2">@ViewBag.ckr</th>
                      <th rowspan="2">@ViewBag.blm</th>
                      <th rowspan="2">@ViewBag.crp</th>
                  </tr>
                  <tr> 
                  <th>SAYI2:@ViewBag.sayi2</th>
                  </tr>

              </table>
            


           </div>
      

    </div>
</form>

